
<div class="container">
	<div class="row good-background">
		<div align="center">
			<h1 class="section-title">Our gear</h1>
			<p>Clicking these links will take you to our affiliate marketplace at Shopify.com</p>
		</div>
		<% @products.as_json.each do |product| %>
			<div class="col-lg-4 col-sm-6 col-xs-10 col-xs-offset-1 col-sm-offset-0">
				<div align="center">
					<h3><%= product["title"] %></h3><br/>
					<% link = product["handle"] %>
					<% product["images"].as_json.each do |value| %>
						<% image = value["src"] %>
						<%= link_to (image_tag image, alt: "product['id'] picture", class: "img-responsive", width: "80%"), "https://trial-for-mm.myshopify.com/products/#{link}", target: "_blank" %>
					<% end %>
					<% price = "" %>
					<% product["variants"].as_json.each do |value| %>
						<% price = value["price"] %>
					<% end %>
					<h4>$<%= price %></h4>

				</div>
			</div>
		<% end %>


	</div>
</div>






 