
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Email from <%= @message.user %></h1>
    <h3><%= @message.email %></h3>
    <p>
      <%= @message.title %>
      <br/><br/>
      <%= @message.content %>
    </p>
  </body>
</html>