<div class="container good-background">
	<h1 align="center">About Us</h1>
	<div class="about_us col-lg-9 faq fix-link">
		<p>The inspiration for our channel began as nothing more than two guys carpooling to work.  As we traveled, we began taking ever increasing notice of how often people were paying more attention to their phone than to their driving.  We had talked about filming some of these people for our own entertainment, but for months we just didn't bother.  The final straw came when we noticed a driver of a work van merging on to the interstate while simultaneously using his right hand to write on a clipboard he had balanced on the steering wheel, and glancing back and forth at a phone he was holding in his left hand (the hand with which he was also steering the van).  That did it, and the next day, we shot our very first clip using a cell phone camera.
		</p>
			<p>Before long, we had compiled a comical (if unsettling) collection of drivers who were ignoring the road and their surroundings in favor of sending texts, Facebooking, Tweeting, watching movies, or whatever else struck their fancy.  All the videos were captured on a very lightly trafficked stretch of road during our commute 3-4 days per week.  If we could manage to catch this number of distracted drivers without even adjusting our schedule, how many people are not paying attention out there?  Why isn't anyone doing anything about this?
		</p>
		<p>
			It turned out that people already had been doing something about the problem.  Most states already had laws in place making distracted driving illegal, awareness groups and schools were communicating the danger, and public service announcements were pretty common sights.  Real life observation quickly convinced us that none of these things were making much of a difference.  So we asked ourselves, what can people do to alleviate the problem?  If fear of crashing a car and killing yourself or someone else doesn't stop someone . . . maybe fear of shame would.  We began making plans to use our videos to shame drivers we filmed in the hopes that we could provide a few services:
		</p>
		<p>
			<ol>
				<li>Real examples and evidence of just how prominent the problem really is.</li>
				<li>A deterrent to the drivers we caught and to other drivers who wonder if we will catch them.</li>
				<li>An opportunity for other people to get involved and make a difference.</li>
				<li>Some entertainment and a chance to laugh.</li>
			</ol>
		</p>
		<p> At MixedMessages, we understand that distracted driving is a very serious problem, and that a real solution to the problem, outside of self-piloted vehicles, does not seem to be forthcoming.  Please don't confuse humor concerning the subject with the severity of the subject itself.  Also, we sincerely hope that the people in these videos gain some real awareness that other people's safety on the road depends on them.  We hope that they are met with raised eyebrows and a bit of discouraging sarcasm; NOT with hate and ostracism.  Remember, most everyone has been part of the problem at one time or another.
		</p>
		<p>
		&#09;Finally, we are only a small group of people in a single location.  Without help from people like you, we won't be able to make much of a difference.  If you have noticed the scope of the problem of distracted driving and want to help us make a difference, <%= link_to "click here", submit_path %> to learn what you can do to help keep drivers focused on the road in your community.
		</p>
	</div>
	<div class="col-lg-3">
		<div class="about-ads">
			<p>Ad Unit 1</p>
		</div>
		<div class="about-ads">
			<p>Ad Unit 2</p>
		</div>
		<div class="about-ads">
			<p>Ad Unit 3</p>
		</div>
	</div>

</div>