<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<div class="responsive-ad">
				<div align="center">
					<h6>Advertisement</h6>
				</div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- faq 1 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-2223843253438673"
				     data-ad-slot="2308586544"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
		<div class="col-sm-8 good-background">
			<div align="center">
				<h1>FAQ</h1>
			</div>
			<div class="col-sm-12 col-md-8 faq">

				<span class="large-letters">Q:</span>  I submitted a video to Mixed Messages, and it is not posted yet.  What happened?<br/>

				<span class="large-letters">A:</span>  You will be notified as soon as your video is reviewed.  Due to the number of submissions we receive, this process can take some time.  Please be patient.
				<br/><div class="comment-hr"></div>



				<span class="large-letters">Q:</span>  I submitted a video to Mixed Messages, and it was rejected:  why?<br/>

				<span class="large-letters">A:</span>  Many reasons could cause a video to be rejected.  We will not post videos that feature nudity, advertisements, or content unrelated to the cause.  In addition, not every video contains footage high quality enough to be useful to the site.  
				<br/><div class="comment-hr"></div>



				<span class="large-letters">Q:</span>  I am in a video on your website, and I don’t want to appear in this video.  What should I do?<br/>

				<span class="large-letters">A:</span>  Simply send us an email including the URL and what time you appear in the video and we will blur your likeness or remove the video altogether.  If you wish to be more exact, please include a picture of yourself so that we may verify your appearance in the video.
				<br/><div class="comment-hr"></div>



				<span class="large-letters">Q:</span>  Isn’t Mixed Messages just adding to the danger on the road?  If you are driving and filming these other drivers, isn’t that just as bad as using a phone yourself?<br/>

				<span class="large-letters">A:</span>  Mixed Messages staff never films while driving.  We also encourage others never to film while driving.
				<br/><div class="comment-hr"></div>



				<span class="large-letters">Q:</span> I saw a video where you are driving and manipulating a phone.  Doesn’t that make you hypocrites?<br/>

				<span class="large-letters">A:</span>  Control of the filming and editing process is a powerful thing.  If you believe you saw us driving distracted in one of our videos, you can be sure it is camera magic.
				<br/><div class="comment-hr" style="visibility: hidden;"></div>
			</div>
		</div>
		<div class="col-sm-2">
			<div class="responsive-ad">
				<div align="center">
					<h6>Advertisement</h6>
				</div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- faq 2 -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-2223843253438673"
				     data-ad-slot="3785319740"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
</div>

<div align="center">
	<div class="responsive-ad">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- faq 3 -->
		<ins class="adsbygoogle"
		     style="display:block"
		     data-ad-client="ca-pub-2223843253438673"
		     data-ad-slot="5262052940"
		     data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>