
<div class="container good-background">
	<div class="row">
		<div id="main-title" class="text-center">
			<h1>Welcome to Mixed Messages!</h1>
		</div>

		<!-- LEFT SIDE -->
		<div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
			<div id="mainpic" class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" width="512" height="288" src="https://www.youtube.com/embed/N0LG6oZLWqY" allowfullscreen></iframe>
			</div>
		</div>
			<!-- RIGHT SIDE -->
		<div id="right-side-list" class="col-lg-7 col-md-8 col-sm-12 col-xs-12">  
			
			<div id="main-text">
				<p class="fix-link"> We're working to reduce the problem of distracted driving and we want you to help. On our site you'll find comedy videos of people filmed with their eyes off the road. We hope that the threat of public shame will give people a strong enough reason to wait until they're parked to use their phones, but unfortunately, we can't be everywhere. So hang out, watch some videos, have a few laughs, think about the responsibility of safe driving, and visit our <span class="underline"><%= link_to "Get Involved", submit_path %></span> section to learn how you can have some fun and help us to reduce distracted driving in your community. Which side of the camera will you be on?
				</p>
			</div>
		</div>
<!-- </div>-->	

		<div class="container clear-top">
			<div class="row">
		<!--  	<hr id="bottom-1">
			<hr id="bottom-2"> -->

				<div id="bottom-1" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	</div>
			</div>
		</div>
	</div>
</div>