<div class="container">
	<div class="row good-background">
		<div align="center">
			<h1>safety</h1>
		</div>
		<div class="col-xs-10 col-xs-offset-1 visible-sm visible-xs">
			<div align="center" class="embed-responsive embed-responsive-16by9 safe-video">
				<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/N0LG6oZLWqY" allowfullscreen></iframe>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-xs-12 blog-body">
			<h4>
	Filming safely is the cornerstone of the campaign at Mixed Messages! If we create additional danger on the road, we are no help at all. Please follow these recommendations in order to assure maximum safety.
<br/><br/>
	<div class="col-xs-1">1.</div><div class="col-xs-11"> Never attempt to manipulate a camera while driving!<br/><br/></div>
	<div class="col-xs-1">2.</div><div class="col-xs-11"> If you are driving alone and you want to film, mount your phone or action camera with a suction cup and let it film while you focus on driving the vehicle.<br/><br/></div>
	<div class="col-xs-1">3.</div><div class="col-xs-11"> If you have a passenger, let the passenger do the filming.<br/><br/></div>
	<div class="col-xs-1">4.</div><div class="col-xs-11"> Follow traffic laws at all times.<br/><br/></div>
	<div class="col-xs-1">5.</div><div class="col-xs-11"> Do not “swerve” through traffic or chase after vehicles. You are doing enough just by having a camera ready and participating. You do not have to “catch” every driver. We don’t!<br/><br/></div>
	<div class="col-xs-1">6.</div><div class="col-xs-11"> Beware of the driver you are filming. If they are not paying attention to the road or you, you cannot trust them to stay in their lane, maintain a certain speed, or make rational decisions.</div>
	</h4>
		</div>
		<div class="col-md-7 col-md-offset-0 hidden-sm hidden-xs">
			<div align="center" class="embed-responsive embed-responsive-16by9 safe-video">
				<iframe class="embed-responsive-item" width="100%" src="https://www.youtube.com/embed/N0LG6oZLWqY" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>