<!-- 			Loop to display episodes -->
 
<div class="container">
	<div class="row">
		<div align="center">
			<h1>Premium Episode</h1>
			<div id="main-episode">
			<iframe width="1280" height="720" src="https://www.youtube.com/embed/Vj3KUc_6A4A" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>





	<div class="row">
		<div class="section_title col-sm-12"><h1>Episodes</h1></div>
		<% @videos.each do |key, value| %>

			<div align="center" class="col-xs-12">
			<!-- Previous page button -->
				<% if key == "prevPageToken" %>
					<% @prevPageToken = "&pageToken=#{value}" %>
					<%= link_to "Previous Page", watch_path(@prevPageToken), method: :patch, class: "btn btn-xs btn-info" %>
				<% end %>
			
			<!-- next page button -->
				<% if key == "nextPageToken" %>
					<% @nextPageToken = "&pageToken=#{value}" %>
					<%= link_to "Next Page", watch_path(@nextPageToken), method: :patch, class: "btn btn-xs btn-info" %>
				<% end %>
			</div>
			
			<% if key == "items" %>
				<% value.each do |block| %>
					<% block.each do |key, value| %>
						<% if key == "snippet" %>
							<% value.each do |k, v| %>
								<% if k == "title" %>
									<% @title = v %>
								<% elsif k == "resourceId" %>
									<% v.each do |kk, vv| %>
										<% if kk == "videoId" %>
											<% @id = vv %>
											<div class="col-lg-4 col-md-6">
												<div id="thumbs" align="center">
													<% source = "http://img.youtube.com/vi/#{@id}/1.jpg" %>
													<%= link_to image_tag(source, alt: @title, width: "275px"), video_path(@id) %>
												</div>
												<div id="title" align="center">
													<%= @title.upcase %>
												</div>
											</div>
										<% end %>
									<% end %>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div>
