<h1><%= @user.username %></h1>

<br/><br/>
<p>A new password has been requested for this email address. <br/>
Your new password is<br/><h4> <%= @new_password %></h4><br/>Follow this link to <%= link_to "log in and change your password now", "http://mixed-messages.org/login" %>.</p>

