<img src="http://mixed-messages.org/assets/mm-header-40.png" height="100px" />
<div align="center">
<h1 style="font-weight: bold; text-transform: uppercase;"><%= @user.username %></h1>
</div>
<br/><br/>
<p>A new password has been requested for this email address. <br/>
Your new password is<br/><h4> <%= @new_password %></h4><br/>Follow this link to <%= link_to "log in and change your password now", "http://mixed-messages.org/login" %>.</p>

