// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-title {
	margin-right: 25px;
	margin-bottom: 20px;
}

.blog-body {
	padding: 10px 25px 10px 40px;
	font-size: 23px;
	// font-spacing: 2px;
	// font-weight: bold;
	font-family: 'Doppio One', sans-serif;
	margin-bottom: 20px;
}

.blog-content {
	margin-top: 20px;
}

.blog-fix > .row {
	margin: auto;
}