$mm-color: #920202;

// *****BODY***** // 

#mainpic {
	margin: auto;
	margin-top: 80px;
	box-shadow: -2px 2px 20px #aaaaaa;
}

#right-side-list {
	margin: auto;
	margin-top: 30px;
	padding: 35px;
	p {
		// font-family: 'Fjalla One', sans-serif;
		font-family: 'Hammersmith One', sans-serif;

		//text-transform: uppercase;
		width: 75%;
		margin: auto;
		padding-top: 10px;
		font-size: 22px;
		text-align: justify;
		//letter-spacing: 1px;
	}
}

