$mm-color: #920202;

// *****BODY***** // 

#home-video {
	margin: 80px 30px 40px 0;
	border: 2px solid $mm-color;
}

#home-picture {
	margin: 55px 20px 0 30px;
	img {
		width: 100%;
		border: 2px solid $mm-color;
	}
}

.home-text-right {
	margin-top: 35px;
	padding: 0 30px 30px 30px;
	p {
		font-family: 'Fjalla One', sans-serif;
		margin: auto;
		padding-top: 10px;
		font-size: 20px;
		text-align: justify;
	}
}

.section-title {
	margin-top: 40px;
}

/*										*
 *										*
 *										*
 *    MEDIA QUERIES  	*
 *										*
 *										*
 *										*/

@media (max-width: 1198px) and (min-width: 993px) {
	#home-picture {
		margin-top: 100px;
	}
}

@media (max-width: 485px) {
	.home-text-right {
		p {
			font-size: 22px;
		}
		padding: 0;
		margin-right: 10px;
		margin-left: 10px;
	}
}

@media (max-width: 992px) {
	#home-video {
		margin: 0;
		margin-top: 20px;
		margin-bottom: 40px;
	}
}
