// Place all the styles related to the market controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-item {
	padding-left: 14px;
	padding-right: 14px;
}

#market-list {
	list-style-type: none;
	padding: 0;
	li {
		min-height: 540px;
		@media (max-width: 768px) {
			min-height: 0px;
		}
	}
}