// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large-letters {
	font-size: 40px;
	font-family: cursive;
	text-transform: uppercase;
}

.faq {
	font-size: 20px;
	font-family: 'PT Sans', sans-serif;
	font-weight: bold;
}