
@import "bootstrap-sprockets";
@import "bootstrap";


#not_found {
	width: 100%;
	height: 550px;
	border: 3px solid black;
	border-radius: 8px;
	background: #33aa44;
	float: left;
}

html {
	height: 100%; 
}

body {
	font-family: helvetica, sans-serif;
	color: #111;
	//position: relative;
	//height: 100%;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

// header .container {
// 	width: 85%;
// }

#page {
	min-height: 100%;
	position: relative;
	border: 0;
	padding: 0;
	margin: 0;

	background: image-url("logo.png") center no-repeat fixed;
}

// *****HEADER***** //

#head {
	.navbar {
		margin-bottom: 0px;
	}
	.dropdown-menu {
		list-style-type: none;
		text-align: center;
		border-radius: 13px;
		border: 1px solid #920202;
		margin: 5px;
	}
	.divider {
		background-color: #920202;
	}
	border-bottom: 1px solid #920202;
	box-shadow:  0px 10px 6px -6px #920202;
	border-radius: 8px;
	margin: 0px 100px 40px 100px;
}

#mm {
	//float: left;
	margin: auto;
	margin-bottom: 7px;
	margin-top: 7px;
	a:hover, a:visited, a:link {
		text-decoration: none;
	}
	h1 a{
		color: #ccc
	}
	img {
		width: 10vw;
	}
}

#top-link-bar { 
	margin-top: 40px;
	//margin-bottom: 25px;
	vertical-align: bottom;
	a {
		font-size: .9vw;
		letter-spacing: 3px;
		font-weight: bold;
		text-transform: uppercase;
		//background: #eee;
		//border-left: 1px solid black;
		//border-right: 1px solid black;
		padding: 0px;
		border: 0;
		&:visited, &:link {
			text-decoration: none;
			color: #222;
		}
		&:hover {
			-webkit-transition-duration: 0.2s; /* Safari */
  		transition-duration: 0.2s;	
			//background: #920202;
			border: 0px solid #920202;
			border-radius: 7px;
			text-decoration: none;
			color: #920202;
			box-shadow: -2px 2px 10px #920202;
		}
		
	}
}

// *****FOOTER***** //

// #foot {
// 	position: absolute;
// 	bottom: 0;
// }

#foot {
	// position: absolute;
 // 	bottom: 0;
	border-top: 1px solid #920202;
	box-shadow:  0px -10px 6px -6px #920202;
	border-radius: 8px;
	margin: 40px 100px 30px 100px;
	letter-spacing: 3px;
	text-transform: uppercase;
	//color: #ccc;
	font-size: 1vw;
	font-weight: bold;
	//font-family: 'Passion One', cursive;
	text-align: center;
	li {
		margin-top: 7px;
		list-style-type: none;
		text-align: right;
	}
	li > a {
		&:visited, &:link {
			text-decoration: none;
			color: #222;
		}
		&:hover {
			-webkit-transition-duration: 0.2s; /* Safari */
  		transition-duration: 0.2s;	
			//background: #920202;
			border: 0px solid #920202;
			border-radius: 7px;
			text-decoration: none;
			color: #920202;
			box-shadow: -2px 2px 10px #920202;
		}
		
	}
	ul {
		margin-top: 45px;
	}
	.move-top {
		margin-top: 60px;
	}
}


.fix-link {
	a {
		text-decoration: none;
		&:visited, &:link {
			text-decoration: none;
			color: #920202;
		}
		&:hover {
			text-decoration: underline;
		}
	}
}

.good-background {
	background-color: rgba(75, 2, 2, .1);
	border-radius: 15px;
	border-left: 2px solid rgba(142, 2, 2, .4);
	border-right: 2px solid rgba(142, 2, 2, .4);

	box-shadow: -2px 2px 12px -1px #920202;


}

.underline {
	text-decoration: underline;
}



/*										*
 *										*
 *										*
 *    MEDIA QUERIES  	*
 *										*
 *										*
 *										*/

//  @media (max-width: 1300px) and (min-width: 968px) {
//  	// #mm img {
//  	// 	width: 35vw;
//  	// }

//  	#top-link-bar {
//  		position: float;
//  		a {
//  		font-size: 2vw;
//  		}
//  	}

//  }

@media (max-width: 845px) {

	#mm img {
		width: 100%;
	}

	#top-link-bar {
		margin: auto;
		font-size: 1vw;
	}
}
