$mm-color: #920202;
 
@import "bootstrap-sprockets";
@import "bootstrap";

// ****** Global Styles ****** //

h1, h3  {
	//padding-left: 30px;
	font-family: 'Fjalla One', sans-serif;
	font-color: #333333;
	letter-spacing: 6px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
		a:hover {
			-webkit-transition-duration: 0.2s; /* Safari */
  		transition-duration: 0.2s;
			letter-spacing: 7px;			
		}
	
}

.fix-link {
	a {
		text-decoration: none;
		&:visited, &:link {
			text-decoration: none;
			color: $mm-color;
		}
		&:hover {
			color: #333;
			//text-decoration: underline;
		}
	}
}

.good-background {
	//background: image-url("bg3.png") center;
	background-color: rgba(75, 2, 2, .12);
	border-radius: 15px;
	border-left: 2px solid rgba(142, 2, 2, .4);
	border-right: 2px solid rgba(142, 2, 2, .4);
	box-shadow: -2px 2px 12px -1px $mm-color;
}

.underline {
	text-decoration: underline;
}

.badge {
	background: $mm-color;
	line-height: 1.4;
}

.comment-hr {
	border-bottom: 1px solid $mm-color;
	height: 2px;
	color: $mm-color;
	margin: 10px 0 15px 0;
}

.modal {
	margin: 50px 25vw 0 25vw;
}

#messages {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1
}

#not_found {
	width: 100%;
	height: 550px;
	border: 3px solid black;
	border-radius: 8px;
	background: #33aa44;
	float: left;
}

html {
	height: 100%; 

}

body {
	font-family: helvetica, sans-serif;
	color: #111;
	position: relative;
	height: 100%;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	background: image-url("bg6.jpg") center fixed;
}

#page {
	background: image-url("logo2.png") center no-repeat fixed;
	min-height: 100%;
	position: relative;
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	padding-bottom: 250px;
}

// *****HEADER***** //

#head {

	.navbar {
		margin-bottom: 0px;
	}
	.dropdown-menu {
		list-style-type: none;
		text-align: center;
		border-radius: 13px;
		border: 1px solid $mm-color;
		padding: 5px;
	}
	.divider {
		background-color: $mm-color;
	}
	border-bottom: 1px solid $mm-color;
	box-shadow:  0px 10px 6px -6px $mm-color;
	border-radius: 8px;
	margin: 0px 100px 40px 100px;
}

// main image
#mm {
	//float: left;
	margin: auto;
	margin-bottom: 7px;
	margin-top: 7px;
	a:hover, a:visited, a:link {
		text-decoration: none;
	}
	h1 a{
		color: #ccc
	}
	img {
		width: 250px;
	}
}

#top-link-bar { 
	li {
		text-align: center;
	}
	margin-top: 40px;
	vertical-align: bottom;
	a {
		font-size: .8vw;
		letter-spacing: 2px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 0px;
		border: 0;
		&:visited, &:link {
			text-decoration: none;
			color: #222;
		}
		&:hover {
			-webkit-transition-duration: 0.2s; /* Safari */
  		transition-duration: 0.2s;	
			//background: $mm-color;
			border: 0px solid $mm-color;
			border-radius: 7px;
			text-decoration: none;
			color: $mm-color;
			box-shadow: -2px 2px 10px $mm-color;
		}
		
	}
}

// *****FOOTER***** //
.foot {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#foot {
	font-family: 'Fjalla One', sans-serif;
	border-top: 1px solid $mm-color;
	box-shadow:  0px -10px 6px -6px $mm-color;
	border-radius: 8px;
	padding: 0px 0px 30px 0px;
	margin: 0 100px 0 100px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-size: 1vw;
	font-weight: bold;
	text-align: center;
	li {
		margin-top: 7px;
		list-style-type: none;
		text-align: right;
	}
	li > a {
		padding: 2px;
		&:visited, &:link {
			text-decoration: none;
			color: #222;
		}
		&:hover {
			-webkit-transition-duration: 0.2s; /* Safari */
  		transition-duration: 0.2s;	
			border: 0px solid $mm-color;
			border-radius: 7px;
			text-decoration: none;
			color: $mm-color;
			box-shadow: -2px 2px 10px $mm-color;
		}
		
	}
	ul {
		margin-top: 15px;
	}
	// move social media icons down
	.move-top {
		margin-top: 50px;
	}
	.puffed {
		margin-left: 15px;
	}
	.brighten img {
		border: 1px solid $mm-color;
		-webkit-transition-duration: 0.2s; /* Safari */
		transition-duration: 0.3s;	
		opacity: .8;
		&:hover {
			opacity: 1;
			-webkit-transition-duration: 0.2s; /* Safari */
			transition-duration: 0.3s;	
		}
	}
}


/*										*
 *										*
 *										*
 *    MEDIA QUERIES  	*
 *										*
 *										*
 *										*/


@media (max-width: 845px) {

	#mm img {
		width: 100%;
	}

	#top-link-bar {
		margin: auto;
		font-size: 1vw;
	}
}
