// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loading {
	visibility: hidden;
}

.style-upload-index {
	video {
		max-width: 100%;
	}
	margin: 0;
	.single-upload {
		margin-bottom: 20px;
		h4 {
			font-family: 'Fjalla One', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			a:hover {
				letter-spacing: 3px;
				-webkit-transition-duration: 0.2s; /* Safari */
	  		transition-duration: 0.2s;
	  	}
		}
	}
}

.terms {
	padding: 40px;
} 

.tags {
	list-style-type: none;
	li {
		margin-top: 7px;
		.btn {
			width: 80%;
		}
		#zipcode-search {
			width: 65%;
			margin-bottom: 7px;
		}
		#zipcode-search-btn {
			width: 30%;
		}
	}
}

.upload-video {
	video {
		max-width: 80%;
	}
} 


.upload-info {
	margin-top: 20px;
	margin-bottom: 20px;
	.upload-tags {
		margin-top: 15px;
	}
}


/*										*
 *										*
 *										*
 *    MEDIA QUERIES  	*
 *										*
 *										*
 *										*/
 
 @media (min-width: 993px) {
 	.upload-video {
		video {
			max-height: 500px;
		}
	}

 	.tags {
 		text-align: left;
	 		li {
	 			.btn {
	 				width: 100%;
	 			}
	 		}
	 	}
	}

	@media (max-width: 1650px) and (min-width: 992px) {
		.tags {
			li {
				#zipcode-search-btn {
					width: 100%;
				}
				#zipcode-search {
					width: 100%;
				}
			}
		}
	}

	@media (max-width: 768px) {
		.tags {
			li {
				#zipcode-search-btn {
					width: 100%;
				}
				#zipcode-search {
					width: 100%;
				}
			}
		}
	}


 @media (max-width: 992px) {
	.tags {
		margin-left: -40px;
		ul {
			margin-left: -40px;
			padding: 0;
			-webkit-padding-start: 0;
		}
 		li {

 			.btn {
 				width: 100%;
 			}
 		}
 	}
 	.upload-video {
		video {
			max-height: 300px;
			margin-bottom: 20px;
		}
	}
 }