// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loading {
	visibility: hidden;
}

.style-upload-index {
	margin: 0;
	.single-upload {
		margin-bottom: 20px;
		h4 {
			font-family: 'Fjalla One', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			a:hover {
				letter-spacing: 3px;
				-webkit-transition-duration: 0.2s; /* Safari */
	  		transition-duration: 0.2s;
	  	}
		}
	}
}

.terms {
	padding: 40px;
} 