// Place all the styles related to the uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mm-color: #920202;

#loading {
	visibility: hidden;
}

.style-upload-index {
	margin: 0;
	.single-upload {
		margin-bottom: 20px;
		h4 {
			font-family: 'Fjalla One', sans-serif;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 1px;
			a:hover {
				letter-spacing: 3px;
				-webkit-transition-duration: 0.2s; /* Safari */
	  		transition-duration: 0.2s;
	  	}
		}
	}
}

.lobster {
	font-family: 'Dancing Script', cursive;
	//border-left: 5px solid white;
	box-shadow: -3px 3px 5px 0px $mm-color;
	padding: 20px 0 20px 50px;
	margin-left: 40px;
	font-size: 2vw;
	margin-bottom: 30px;
	// font-weight: bold;
}

.terms {
	padding: 40px;
} 