// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
	list-style-type: none;
	width: 60%;
	height: 60px;
	li {
		font-size: 2em;
	}
}

.redtext {
	color: #f00;
	text-transform: uppercase;
	font-weight: bold;
}

.greentext {
	color: green;
	text-transform: uppercase;
	font-weight: bold;
}