// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
	list-style-type: none;

	li {
		font-size: 2em;
	}
}

.redtext {
	color: #f00;
	text-transform: uppercase;
	font-weight: bold;
}

.greentext {
	color: green;
	text-transform: uppercase;
	font-weight: bold;
}

#bio {
	padding-bottom: 40px;
	h4 {
		font-family: sans-serif;
	}
}

#info {
	margin-left: 0px;
}

#user-notifications {
	margin-top: 20px;
}

#profile {
	margin-bottom: 30px;
}

.user {
	list-style-type: none;
}