// Place all the styles related to the videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thumbs {
	margin-top: 50px;
	img {
		border: 2px solid #E33A13;
		border-radius: 7px;
	}
}

#title {
	margin-top: 20px;
	height: 50px;
	color: #E33A13;
	font-weight: bold;
} 

#main-episode {
	margin-top: 25px;
	width: 75%;
	height: 400px;
	background-color: #cecece;
	opacity: .4;
	border: 1px solid black;
}