$mm-color: #920202;


.tos {
	background: #fff;
	border-radius: 7px;
	border: 1px solid $mm-color;
	box-shadow: -2px 2px 10px $mm-color;
	margin-bottom: 5px;
}
.btn-primary {
	-webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
	background: $mm-color;
	border: 1px solid $mm-color;
	&:hover {
		background: #333;
	}
	
}

.disabled  {
	 	background: #000;
	}

.btn-info {
	-webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;	
// 	background: #ccc;
// 	color: $mm-color;
// 	border: 1px solid $mm-color;
// 	&:hover {
// 		color: #fff;
// 		background: #333;
// 	}
}

.btn {
	border-radius: 3px;

}

.form-horizontal {
	.form-control {
		border: 1px solid $mm-color;
		border-radius: 2px;
	}
}

.btn-grand {
	width: 150px;
	height: 50px;
	line-height: 35px;
}

// custom Will Paginate
.pagination {
	ul {
		.active a {
			border: 1px solid $mm-color;
			background: $mm-color;
			color: #ccc;
			opacity: .7;
			&:hover {
				opacity: 1;
				background: $mm-color;
				border: 1px solid $mm-color;
			}
		}
	}
	
 li {
		a {
			border: 1px solid $mm-color;
			color: $mm-color;
			&:hover {
				background: #333;
				color: #ccc;
				border: 1px solid $mm-color;
			}
		}
		.prev > .previous_page > .disabled {
			border: 1px solid $mm-color;
		}
	}

}