<div class="col-lg-10 col-lg-offset-1 good-background">

	<div align="center">
		<h1>User Contributions</h1><br/>
		<%= will_paginate %>
	</div>
	<%= render 'submission_list', obj: @uploads %>
	<div align="center">
		<%= will_paginate %>
	</div>
</div>