<div class="container">
	<div class="row good-background">

		<% if @uploads.empty? %>
				<div align="center">
					<h1>THERE IS NOTHING TO REVIEW</h1>
				</div>
			</div>

		<% else %>
			<div align="center">
				<h1>Videos in Que: <%= @uploads.count %></h1>
			</div>
			<%= render 'submission_list', obj: @uploads %>
			<div align="center">
				<%= will_paginate %>
			</div>
		<% end %>
	</div>
</div>
