<div class="container">
	<div class="row good-background">
		<div align="center" class="banned">
			<h1>you have been banned from Mixed Messages</h1>
			<h3>if you feel this has been done in error, you can contact us at producers@mixed-messages.org</h3>
		</div>
	</div>
</div>