<footer id="foot" class="footer">
	<div class="container">
		<nav class="nav navbar-nav">
			<ul>
				<li><%= link_to "ABOUT US", about_path %></li>
				<li><%= link_to "CONTACT US", contact_path %></li>
				<li><%= link_to "FAQ", how_to_path %></li>
			</ul>
		</nav>
	</div>
</footer>