<footer id="foot" class="footer">
	<div class="container">
		<div class="col-md-3 col-md-offset-9" align="right">
			<nav>
				<ul>
					<li><%= link_to "ABOUT US", about_path %></li>
					<li><%= link_to "CONTACT US", contact_path %></li>
					<li><%= link_to "FAQ", faq_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</footer>