	<br/><br/><br/><br/><br/>
	<hr>
	<p>You are receiving this email because someone signed up to <%= link_to "Mixed Messages", "http://mixed-messages.org" %> with this email address. If you signed up but requested to not receive emails, this will be the last email you receive from us. If you did not sign up, come check us out!
	<br/><br/>
	You can make sure this email address receives no more emails by <%= link_to "clicking here", "http://mixed-messages.org/unsubscribe" %>.</p>