<-- page to update episodes manually with url and description by site moderators -->

<div>
  <%= form_for @new_episodes, url: {action: "post"} do |f| %>
  	<%= f.text_area :body, size: "60x12" %>
  	<%= end %>
</div>